$banner-blue:#2362ad;

.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}
header{

}
.nav-bar-banner{

  background-color: #f9fffd !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  div {
    img{
      margin-top: 15px;
      height: 80%;
    }
    height: inherit;
    width: 1200px;
    margin: auto;
  }
  .banner-title{
    color: #0b1e2c;
    padding-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 50px;
  }
  .buttons-bar{
    padding-top: 80px;
    span{
      color: $banner-blue;
    }
  }
  md-icon{
    color: $banner-blue !important;
    line-height: 36px;
    padding-top: 80px;
    text-align: right !important;
    margin: 6px 8px;
  }
}

